<header>
  <nav class="navbar">
    <div class="logo">
      <img src="/images/Ewebb.png" alt="EWEBB Logo" />
    </div>
    <div class="menu-toggle" id="mobile-menu">&#9776;</div>
    <ul class="nav no-search" id="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/downloads">Downloads</a></li>
      <li><a href="/data-protection">Data Protection</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
  </nav>
</header>
