<% layout('layout') -%>
<% title = "EWEBB | Downloads" %>
<section class="downloads">
  <h2>Downloads</h2>
  <h3>Public Documents</h3>
  <ul>
    <% publicDocs.forEach(doc => { %>
      <li><a href="/uploads/public/<%= doc.filename %>" download><%= doc.originalname %></a></li>
    <% }) %>
  </ul>
  <h3>Eulogy (Auto Expires in 7 Days)</h3>
  <ul>
    <% eulogyDocs.forEach(doc => { %>
      <li><a href="/uploads/eulogy/<%= doc.filename %>" download><%= doc.originalname %></a></li>
    <% }) %>
  </ul>
</section>
