<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EWEBB | <%= title %></title>
  <link rel="icon" href="/images/icon.png" type="image/png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <% include partials/header.ejs %>
  
  <main>
    <%- body %>
  </main>
  
  <% include partials/footer.ejs %>
  <script src="/js/main.js"></script>
</body>
</html>
